@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
nav{
    width: 100%;
    background: #101010;
    overflow: hidden;
    position: fixed;
    top:0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    float: left;
}
a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#section1{
    height: 700px;
    background-color:#1f1b24 ;
    display: inline-block;
    width: 100%;
}
#section2{
    height: 700px;
    background-color:#1f1b24 ;
    display: inline-block;
    width: 100%;
}
#section3{
    height: 700px;
    background-color:#1f1b24 ;
    display: inline-block;
    width: 100%;
}
#section4{
    height: 700px;
    background-color:#1f1b24 ;
    display: inline-block;
    width: 100%;
}
#section5{
    height: 700px;
    background-color:#1f1b24 ;
    display: inline-block;
    width: 100%;
}
#section6{
    height: 700px;
    background-color:#1f1b24;
    display: inline-block;
    width: 100%;
}
h1{
    margin: 70px;
    text-align: center;
    padding: 0;
    color: #fff;
}




@media  (max-width:450px){
    html{
        scroll-behavior: smooth;
    }
    nav{
        width: 100%;
        background: #101010;
        overflow:hidden;
        position: fixed;
        padding: 5px;
        top:0;
    }
    nav a{
        padding: 5px;
        width: 50px;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }
    ul{
        padding: 5px;
        margin: 5px;
        list-style: none;
    }
    li{
        float: left;
        padding : 0 10px 0 9px;
    }  
    h1{
        margin: 70px;
        text-align: center;
        padding: 0;
        color: #fff;
    } 
}
